*.pyc
coverage.html/*
.coverage
dist/*
build/*
*egg-info/*
doc/auto_examples/*
examples/dot_pyinstrument.html
covidsim/tutorial/*.c
covidsim/tutorial/*.pyd
covidsim/tutorial/*.so
covidsim/tutorial/dot_cython.cpp
covidsim/tutorial/dot_blas_lapack.cpp
covidsim/tutorial/experiment_cython.cpp
covidsim/tutorial/dot_cython_omp.cpp
